:root {
  --df-serif: "ff-meta-serif-web-pro", Georgia, serif;
  --df-sans: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--df-sans);
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
}

main {
  height: 100%;
}

.toolbar {
  align-items: center;
  justify-content: space-around;
}

.toolbar input:not([type]), .toolbar input[type="text"] {
  border: none;
  border-bottom: 1px solid #CCC;
  padding: 4px 8px;
  display: block;
}

.toolbar .popup-config button {
  width: 100%;
  margin-top: 4px;
}

.toolbar .map-features input:first-child + label {
  border-radius: 4px 0 0 4px;
}

.toolbar .map-features label:last-child {
  border-radius: 0 4px 4px 0;
}

.toolbar input[type="checkbox"] {
  display: none;
}

.toolbar input[type="checkbox"] + label {
  display: block;
  border: 1px solid #EEE;
  padding: 4px 8px;
  transition: all .2s linear;
}

.toolbar input[type="checkbox"] + label:hover,
.toolbar input[type="checkbox"] + label:focus {
  background: #F8F8F8;
}

.toolbar input[type="checkbox"]:checked + label {
  border: 1px solid #999;
  background: #EEE;
}

.toolbar input[type="file"] {
  display: none;
}

.toolbar button {
  border: 1px solid #999;
  background: white;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all .2s linear;
}

.toolbar button:hover,
.toolbar button:focus {
  background: #F8F8F8;
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, .1);
}

.map-container {
  flex: 1 1 0%;
  position: relative;
  margin: 24px;
}

.map-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 320px;
  min-height: 240px;
}

.map-container .dimensions {
  position: absolute;
  top:; 0;
  right: 0;
  padding: 8px;
  background: white;
  opacity: .8;
  z-index: 999;
  font-family: monospace;
}

.map-frame .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 16px 24px -8px rgba(0, 0, 0, .2);
  background: transparent;
  /* can't use vars here because of html2canvas */
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
}

.map-frame .resize-handle {
  position: absolute;
  right: -12px;
  bottom: -12px;
  cursor: nwse-resize;
  width: 12px;
  height: 12px;
  background: gray;
  border-radius: 100%;
}

.screenshot .leaflet-control-zoom,
.screenshot .leaflet-popup-close-button {
  display: none !important;
}

.screenshot .map {
  background: transparent !important;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup:hover .leaflet-popup-close-button {
  display: block;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;

}

.leaflet-popup-content-wrapper {
  border-bottom: black solid 1px;
}

.leaflet-popup-content {
    margin: 5px 5px;
    line-height: 1.2;
    max-width: 100px;
    word-wrap: normal;
    z-index: 999;
}

.leaflet-popup-tip-container {
  overflow: visible;
  z-index: -1;
}

.leaflet-popup-tip {
  background: black;
  width: 10px;
  height: 16px;
  padding: 0px;
}
